asgiref==3.5.2
beautifulsoup4==4.11.1
Django==3.2
django-bootstrap-modal-forms==2.2.0
django-bootstrap-v5==1.0.11
django-bootstrap5==22.1
Pillow==9.3.0
pytz==2022.6
soupsieve==2.3.2.post1
sqlparse==0.4.3
weasyprint==57.1
