{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% block main_block %}
<div class="container">
    <div class="row">
        <div class="vacancy_block">
            <h2>Редактировать вакансию</h2>
            <form action="{% url 'vacancy_update' vacancy.pk %}" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="btn__div">
                    {% bootstrap_button button_type="submit" content='Редактировать вакансию' %}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}